header {
  height: 960px;
  min-height: 100vh;
  width: 100%;
  background: #E6E6E6;
  -webkit-background-size: cover;
  text-align: center;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text h1 {
  font: 90px/1.1em 'opensans-bold', sans-serif;
  color: #3e3e3e;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
.span-name {
  font: 90px/1.1em 'opensans-bold', sans-serif;
  color: #4D7099;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

header .banner-text h3 {
  font-family: 'Montserrat', sans-serif;
  color: #3e3e3e;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

header .second{
  color:#4D7099;
}
header .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2F2D2E;
  border-color: rgba(150, 150, 150, .1);
}